.scroll-to-top {
    display: inline-block;
    background-color: #333;
    width: 48px;
    height: 48px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 16px;
    right: 16px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0.5;
    visibility: hidden;
    z-index: 1000;
}

.scroll-to-top::after {
    line-height: 24px;
    color: #fff;
}

.scroll-to-top:hover {
    cursor: pointer;
    background-color: #222;
}

.scroll-to-top:active {
    background-color: #555;
}

.scroll-to-top.show {
    opacity: 1;
    visibility: visible;
}
