// Body
$body-bg: #fff;

// Colors
// $blue: #3490dc;
// $indigo: #6574cd;
// $purple: #9561e2;
// $pink: #f66d9b;
// $red: #e3342f;
// $orange: #f6993f;
// $yellow: #ffed4a;
// $green: #38c172;
// $teal: #4dc0b5;
// $cyan: #6cb2eb;

$black: #000000;
$white: #FFFFFF;

// Custom Theme Colors
$theme-colors: (
    "black": $black,
    "white": $white,
);

$enable-gradients: true;
$enable-responsive-font-sizes: true !default;
